<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <property name="connection.url">jdbc:mysql://106.12.131.109:3306</property>

    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>

    <property name="connection.username">bili</property>

    <property name="connection.password">YBeWMYrLEfTj6SbH</property>

    <mapping resource="hbmxml/TTestEntity.hbm.xml"/>
    <mapping resource="hbmxml/TbArticleEntity.hbm.xml"/>
    <mapping class="com.backend.videoproject_backend.dto.TbArticleEntity"/>
    <mapping resource="hbmxml/TbFollowEntity.hbm.xml"/>
    <mapping class="com.backend.videoproject_backend.dto.TbFollowEntity"/>
    <mapping resource="hbmxml/TbLikeEntity.hbm.xml"/>
    <mapping class="com.backend.videoproject_backend.dto.TbLikeEntity"/>
    <mapping class="com.backend.videoproject_backend.dto.TbPicEntity"/>
    <mapping resource="hbmxml/TbPicEntity.hbm.xml"/>
    <mapping class="com.backend.videoproject_backend.dto.TbUserEntity"/>
    <mapping resource="hbmxml/TbUserEntity.hbm.xml"/>
      <mapping resource="hbmxml/TbUserEntity.hbm.xml"/>
      <mapping resource="hbmxml/TbAssociationEntity.hbm.xml"/>
      <mapping class="com.backend.videoproject_backend.dto.TbAssociationEntity"/>
      <mapping class="com.backend.videoproject_backend.dto.TbManagerEntity"/>
      <mapping resource="hbmxml/TbManagerEntity.hbm.xml"/>
      <mapping resource="hbmxml/TbManagerEntity.hbm.xml"/>
    <mapping resource="hbmxml/TTestEntity.hbm.xml"/>
    <mapping class="com.backend.videoproject_backend.dto.TTestEntity"/>
      <mapping class="com.backend.videoproject_backend.dto.TbRecordEntity"/>
      <mapping resource="hbmxml/TbRecordEntity.hbm.xml"/>
      <mapping resource="hbmxml/TbRecordEntity.hbm.xml"/>
    <mapping resource="hbmxml/TbRecordEntity.hbm.xml"/>
    <mapping resource="hbmxml/TbRecordEntity.hbm.xml"/>
      <mapping resource="hbmxml/TbArticleEntity.hbm.xml"/>
      <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>